.popup__save-button {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    min-height: 50px;
    margin-bottom: 37px;
    transition: .2s;
}

.popup__save-button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
    }
}